.form-address {
    max-width: 500px;
    padding: 15px;
    color: #CC3733;
}

.form-address .form-floating:focus-within {
    z-index: 2;
}

.form-address input {
    border-color: #FED7D7;
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-address input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-address input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-address input:focus {
    border-color: #FED7D7 !important; /* Define a cor da borda ao focar */
    box-shadow: 0 0 5px rgba(204, 55, 51, 0.5); /* Adiciona um efeito de brilho na borda */
    outline: none; /* Remove o contorno azul padrão do navegador */
}

.form-address input:focus-visible {
    border-color: #FED7D7 !important;
    box-shadow: 0 0 5px rgba(204, 55, 51, 0.5);
}

/* Específico para inputs do tipo texto e número */
.form-address input[type="text"]:focus,
.form-address input[type="number"]:focus {
    border-color: #FED7D7 !important;
    box-shadow: 0 0 5px rgba(204, 55, 51, 0.5);
}

.btn{
    color: white !important; /* Define a cor do texto */
    background-color: #F56565 !important; /* Define a cor do botão */
}