.form-crud {
  max-width: 450px;
  padding: 15px;
}

.form-crud .form-floating:focus-within {
  z-index: 2;
}

body {
  background-color: #FFF5F5;
}

/*body {*/
/*  font-family: 'Montserrat', sans-serif;*/
/*}*/
